<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>
<ul>
<ol>
  First Name: <%= f.text_field :first %>
  </ol>
  <ol>
  Last Name: <%= f.text_field :last %>
  </ol>
<ol>
  Email: <%= f.text_field :email %>
  </ol>
  <ol>
  Password: <%= f.password_field :password %>
  </ol>
  <ol>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  </ol>
  <ol>
  <%= f.submit "Submit"%>
</ul>
<% end %>